.custom-layout {
    display: flex;
    flex-direction: row;
}

.sp-layout {
    width: 100vw;
    height: 100vh;
}

.sp-stack {
    min-height: 100vh;
}

@media screen and (max-width: 1000px) {
    .custom-layout {
        display: flex;
        flex-direction: column;
    }

    .sp-stack {
        min-height: auto;
    }
}