.sp-layout {
    height: 100vh !important;
}

.sp-c-bNbSGz {
    font-size: 15px;
}

.newfile {
    height: 40px;
}

.btn {
    background: white;
    height: inherit;
    width: 70px;
    border: none;
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
    height: inherit;
}

.btn:hover {
    background: black;
    color: white;
    transition: 0.3s;
}

.icon {
    height: 20px;
    width: 20px;
}

@media screen and (min-width: 1000px) {
    .sp-c-ctabmA > .sp-file-explorer {
        height: 100vh !important;
    }

    .sp-stack {
        height: 100vh !important;
    }
}